/*
 *Name: [First Last]
 *UnityID: [unityID]
 *Date: [Date Completed]
 *Assignment: [Assignment Name]
 *Description: [description]
 */

p {
	property: value ;


  }




#id {

	property: value ;

	}





.class {

	property: value ;
       
       }