/*
 *Name: Nicholas
 *UnityID: nloverd
 *Date: 11/21/2018
 *Assignment: WebpagesGL
 *Description: Guided lab assignmnet, about me webpage
 */

p {
	font-family:times;
	font-size: 16px;
	color: #FFFFFF;
  }




#id {

	property: value ;

	}





.table-border {

	border: 1px solid #FFFFFF ;
       
       }